@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  box-sizing: border-box;
  font-family: "Poppin", sans-serif;
}

body {
  background: #f7f7f9;
  height: 100vh;
  margin: auto;
}

nav {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  float: left;
  color: #344563;
}

nav i {
  color: #6070ff;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

header {
  margin: 10px;
  padding: 26px 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}

header h1 {
  color: #6070ff;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("./img/header-mobile.png");
  background-size: cover;
  background-repeat: repeat;
  align-items: center;
}

p {
  text-align: center;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 28px;
  margin-bottom: 50px;
  line-height: 28px;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: #172b4d;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  padding: 10px;
  margin-right: 24px;
  margin-left: 24px;
  margin-top: 50px;
}

.intro ul {
  margin: 10px;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-top: 12px;
  gap: 12px;
}

.connect {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}
