/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header Styles */
header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

header h1 {
  margin: 0;
}

header nav {
  cursor: pointer;
}

/* Introduction Section Styles */
.intro {
  background-color: #f1f1f1;
  padding: 50px;
  text-align: center;
}

.intro h1 {
  margin-bottom: 20px;
}

.intro p {
  margin-bottom: 40px;
}

.connect {
  font-weight: bold;
  margin-bottom: 20px;
}

.intro ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.intro li {
  margin: 0 10px;
}

/* About Section Styles */
.about {
  padding: 50px;
}

.about h1 {
  margin-bottom: 20px;
}

.about p {
  margin-bottom: 40px;
}

.about ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.about li {
  margin: 0 10px;
}

/* CV Button Style */
.cv {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

/* Skills Section Styles */
.list-title {
  margin-bottom: 10px;
}

.lang-box {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.lang-box li {
  margin: 10px;
  text-align: center;
  width: 20%;
}
